@import 'variables.css';

/* ============================================================================================== */
/* =======  GENERAL  ============================================================================ */
/* ============================================================================================== */

.wrike-panel-root,
.x-panel-ghost, 
.wrike-panel-light-panel,
.wspace-dashboard-card					{ background:var(--wdt-default-bg)!important; color:var(--wdt-default-color)!important; }


.menu-item .menu-item-title 			{ color:var(--wdt-default-color-60)!important; }
.menu-item:not(.wrike-disabled).active 	{ color:var(--wdt-default-color)!important; border-color:var(--wdt-focus)!important }
button.skin-pseudo 						{ color:var(--wdt-default-color-90)!important; }
wrike-menu-button						{ color:var(--wdt-default-color-60)!important; }
.menu-item .indicator-locked			{ background:var(--wdt-default-bg)!important;  }

.x-layout-split							{ background:var(--theme-background-color)!important; }
wrike-loader							{ background:var(--wdt-default-bg)!important; }

.wrike-button-checkbox					{ color:var(--wdt-default-color)!important; }

wrike-zero-state [zero-title],
wrike-zero-state [zero-description]		{ color:var(--wdt-default-color-60)!important; }
wrike-zero-state .zero-state-icon		{ filter: invert(1); }

.folder-block:hover 					{ background-color:rgba(255,255,255,0.05)!important; }
.folder-block:hover .folder-block__wrapper::before, 
.folder-block:hover .folder-block__wrapper::after { background:var(--wdt-default-color-15)!important; }
wrike-compact-folder-card .folder-card__icon { color:var(--wdt-default-color-60)!important; }
wrike-compact-folder-card .folder-card__info-container { border-bottom-color:var(--wdt-default-color-15)!important; }
wrike-compact-folder-card .folder-card__title { color:var(--wdt-default-color-90)!important; }

.inline-user-list-name					{ color:var(--wdt-default-color-60)!important; }


/* ============================================================================================== */
/* =======  CONTEXT MENU  ======================================================================= */
/* ============================================================================================== */

.w4-shadow-frame, 
.wspace_timeTrackerPanel_sticker		{ box-shadow: 0 2px 6px #000000; }
.x-menu,
wrike-menu-v2 .menu-panel				{ background-color: var(--wdt-default-bg)!important; border:1px solid var(--wdt-default-color-15)!important;  }
a.x-menu-item,
wrike-menu-v2 .select-list-item 		{ color: var(--wdt-default-color-90)!important; }
wrike-menu-v2 .select-list-item.is-focused,
.x-menu-item-active						{ background-color: var(--wdt-default-color-15)!important; }

.sortmode-option						{  }
.sortmode-option:hover					{ background:var(--wdt-default-color-15)!important;  }
.sortmode-option__icon					{ color:var(--wdt-focus)!important }
.sortmode-option__label					{ color:var(--wdt-default-color)!important }

.x-menu-sep							 	{ border-bottom-color:var(--wdt-default-color-15)!important; background:transparent!important; }
wrike-divider .divider-section::after, 
wrike-divider .divider-section::before 	{ border-top-color:var(--wdt-default-color-15)!important; }
wrike-divider.task-list-group-divider 	{ border-top-color:var(--wdt-default-color-15)!important; }
wrike-divider.task-list-group-divider .divider-section::after,
wrike-divider.task-list-group-divider .divider-section::before 	{ border-top-color:transparent!important; }

.divider-header							{ color:var(--wdt-default-color-60)!important }


/* ============================================================================================== */
/* =======  FILTER  ============================================================================= */
/* ============================================================================================== */

.folder-filter-list .filter-list-label	{ color:var(--wdt-default-color-60)!important }
ws-folder-sort-order [wrike-button-v2]:not(.wrike-disabled):hover, 
ws-folder-sort-order [wrike-button-v2]:not(:disabled):hover, 
ws-folder-sort-order [wrike-button-v2]:not(.wrike-disabled):focus, 
ws-folder-sort-order [wrike-button-v2]:not(:disabled):focus { background:var(--wdt-focus)!important; color:var(--wdt-default-color)!important  }
.wspace-folder-filterlist-tagitem		{ color:var(--wdt-focus)!important; }
.wspace-folder-filterlist-tagitem:not(.wrike-disabled):hover,
.wspace-folder-filterlist-tagitem:not(:disabled):hover,
.wspace-folder-filterlist-tagitem:not(.wrike-disabled):focus, 
.wspace-folder-filterlist-tagitem:not(:disabled):focus { background:var(--wdt-focus)!important; color:var(--wdt-default-color)!important  }

/* ============================================================================================== */
/* =======  SIDEBAR  ============================================================================ */
/* ============================================================================================== */

body.dpu #folderTreeView				{ background:var(--theme-background-color)!important; }
#folder-tab								{ background:var(--theme-background-color)!important; }
.dpu .wspace-navigation-view .wspace-tree-color { width:10px !important; }
.dpu .wspace-navigation-view .wspace-tree-sub-root .wspace-tree-branch { padding-left:0!important; }
body.dpu .wspace-navigation-view .wspace-tree-sub-root .x-tree-node-el { padding:0!important; }
.dpu .wspace-navigation-view .wspace-tree-title { z-index: 52!important; position: relative!important; /*background: rgba(49, 58, 66, 0.85)!important;*/ padding-left: 10px!important; }


/* ============================================================================================== */
/* =======  LEFT COLUMN  ======================================================================== */
/* ============================================================================================== */

ws-folder-header-top 					{ background:var(--wdt-default-bg)!important; color:var(--wdt-default-color)!important; border-bottom-color:var(--wdt-default-color-15)!important; }
ws-toolbar								{ border-bottom-color:var(--wdt-default-color-15)!important; }

.breadcrumbs__container .breadcrumbs 	{ color:var(--wdt-default-color-60)!important }
.breadcrumbs__container .breadcrumbs__link:not(.breadcrumbs__link--disabled):not(.breadcrumbs__link--not-clickable):hover, 
.breadcrumbs__container .breadcrumbs__link:not(.breadcrumbs__link--disabled):not(.breadcrumbs__link--not-clickable):focus {
	color:var(--wdt-focus)!important
}


.folder-header-toolbar,
.browse-view-task-creation,
.show-descendants-item 					{ background:var(--wdt-default-bg)!important; color:var(--wdt-default-color)!important; border-bottom-color:var(--wdt-default-color-15)!important; }
.show-descendants-item__text 			{ color:var(--wdt-default-color-90)!important; }

wrike-task-list							{ background:var(--wdt-default-bg)!important; color:var(--wdt-default-color)!important; }
wrike-task-title						{ color:var(--wdt-default-color-90)!important; }
.task-info-container					{ border-bottom-color:var(--wdt-default-color-15)!important }
.task-status							{ color:var(--wdt-focus)!important }

/* task list */
.task-block.active						{ background:var(--wdt-focus-50)!important; }
.task-block:hover						{ background:var(--wdt-focus-20)!important; }
.task-block:hover .task-block__wrapper::before, 
.task-block:hover .task-block__wrapper::after { background:var(--wdt-focus-20)!important; }
.task-block.active .task-block__wrapper::before, 
.task-block.active .task-block__wrapper::after { background:var(--wdt-focus)!important; }


/* ============================================================================================== */
/* =======  RIGHT COLUMN  ======================================================================= */
/* ============================================================================================== */

.wspace-task-widgets-title-view textarea,
ws-task-title .title-field				{ background:var(--wdt-default-bg)!important; color:var(--wdt-default-color)!important; }
.wspace-task-widgets-author				{ color:var(--wdt-default-color)!important; }

.wspace-task-settings-button			{ color:var(#fff)!important; text-shadow:0 1px 1px #fff!important; filter:invert(1)!important; font-weight: bold!important; }
.wspace-task-settings-button.x-btn-over	{ filter:invert(0)!important; text-shadow: none!important; color:var(--wdt-focus)!important; }
/* .wspace-task-settings-button.task-view-setting-button-facelifted { color:var(#fff)!important; } */

.w4-task-statebar, 
.wspace-task-settings-bar, 
.wspace-task-widgets-approvals-bar 		{ border-top: 1px solid rgba(255, 255, 255, 0.16); background: var(--wdt-default-color-05); }
ws-auto-updates-mode-switcher			{ background:var(--wdt-default-bg)!important; }
ws-task-customfield-list				{ border-color:var(--wdt-default-color-15)!important; }


/* ============================================================================================== */
/* =======  TASK DESCRIPTION  =================================================================== */
/* ============================================================================================== */

/* old version */
.le-placeholder							{ color:var(--wdt-default-color-30)!important; }
.le-toolbar								{ background:var(--wdt-default-bg)!important; }
.le-toolbar.toolbar-style-subtle [wrike-button-v2]:not(:disabled).skin-action, 
.le-toolbar.toolbar-style-subtle [wrike-button-v2]:not(:disabled).skin-critical, 
.le-toolbar.toolbar-style-subtle [wrike-button-v2]:not(:disabled).skin-action:hover, 
.le-toolbar.toolbar-style-subtle [wrike-button-v2]:not(:disabled).skin-critical:hover, 
.le-toolbar.toolbar-style-subtle [wrike-button-v2]:not(:disabled).skin-action:focus, 
.le-toolbar.toolbar-style-subtle [wrike-button-v2]:not(:disabled).skin-critical:focus, 
.le-toolbar.toolbar-style-subtle [wrike-button-v2]:not(:disabled).skin-action:active, 
.le-toolbar.toolbar-style-subtle [wrike-button-v2]:not(:disabled).skin-critical:active 
										{ background:var(--wdt-focus)!important; color:var(--wdt-default-color)!important; }


/* new version */
.wspace-liveeditorv2-editor .quill-container { color:var(--wdt-default-color-90)!important; }
.ql-editor a, 
.ql-editor a:visited 					{ color:var(--wdt-focus)!important; }
.ql-editor ul[data-checked="true"] li	{ color:var(--wdt-default-color-60)!important; text-decoration:line-through; }
.ql-editor ul[data-checked="false"]:not(:hover) { background-image:none; position:relative; }
.ql-editor ul[data-checked="false"]:not(:hover):before { content:""; width:11px; height:11px; background:#000!important; border:1px solid var(--wdt-default-color-60)!important; 
												position:absolute; left:0; top: 5px; }


/* ============================================================================================== */
/* =======  ATTACHMENTS  ======================================================================== */
/* ============================================================================================== */

wrike-attachments-list-item .cell		{ color:var(--wdt-default-color-60)!important; }
wrike-attachments-filename				{ color:var(--wdt-default-color-90)!important; }


/* ============================================================================================== */
/* =======  STREAM  ============================================================================= */
/* ============================================================================================== */

.stream-panel .root-link				{ color:var(--wdt-default-color)!important; }
.wspace-stream-comment .fake-field, 
.wspace-task-widgets-comment .fake-field { border:1px solid var(--wdt-default-color-15)!important; }
.wspace-stream-comment .fake-field .btn-attach:not(:hover), 
.wspace-task-widgets-comment .fake-field .btn-attach:not(:hover) { filter:invert(1) }
.wspace-stream-comment .fake-field .fld-text, 
.wspace-task-widgets-comment .fake-field .fld-text { color:var(--wdt-default-color-30)!important; }

.stream-entry .expand-link, 
.stream-entry .expand-link-loading		{ background:var(--wdt-focus-20)!important; color:var(--wdt-focus)!important; }
.stream-entry							{ background:var(--wdt-default-bg)!important; color:var(--wdt-default-color)!important; }
.stream-entry .comment-changes .changes-item { color:var(--wdt-default-color-60)!important; }
.stream-entry .highlight				{ color:var(--wdt-focus)!important; }
.stream-entry .comment .date-container .date { background:var(--wdt-default-bg)!important; color:var(--wdt-default-color-60)!important; }

.stream-entry .changes-item a			{ color:var(--wdt-focus)!important; }

/* comment editor */
.stream-comment-box .editor-outline,
.wspace-task-widgets-comment .main-ct	{ color:var(--wdt-default-color)!important; background-color:var(--wdt-default-bg)!important; border-top:1px solid var(--wdt-default-color-15)!important; }
.stream-comment-box .attach-button:not(:hover) { filter:invert(1);  }
.stream-comment-box emoji-button:not(:hover) .button-icon svg { color:var(--wdt-default-color-60)!important; }
.wspace-task-widgets-comment .placeholder { color:var(--wdt-default-color-60)!important;  }
.stream-comment-box .editor-markdown-syntax { color:var(--wdt-default-color-60)!important; background:var(--wdt-default-color-15); }
.stream-comment-box .editor_commit		{ background:var(--wdt-focus)!important; }
.activity-stream-textarea-ce .CodeMirror{ color:var(--wdt-default-color)!important; background-color:var(--wdt-default-bg)!important; }
.CodeMirror div.CodeMirror-cursor		{ border-left-color:var(--wdt-default-color)!important; }

/* Sidebar */
.stream-view .wrike-panel-header		{ background-color:var(--wdt-default-bg)!important; }
.wrike-panel-title, 
.wrike-record-batchsaver-errortip .wrike-tip-header, 
.wspace-export-exceltip .wrike-tip-header, 
.wspace-timeline-snapshot-info-tooltip .wrike-tip-header-text { color:var(--wdt-default-color)!important; }


/* ============================================================================================== */
/* =======  BOARD VIEW  ========================================================================= */
/* ============================================================================================== */

ws-folder-header-bottom					{ background-color:var(--wdt-default-bg)!important; }

.boards-container						{ background-color:var(--wdt-default-bg)!important; border-top:1px solid var(--wdt-default-color-15)!important; }
.boards-column-inner .header			{ color:var(--wdt-default-color)!important; }
.boards-column-inner .header .count		{ color:var(--wdt-default-color-60)!important; }

/* ============================================================================================== */
/* =======  CREATE TASK OVERLAY  ================================================================ */
/* ============================================================================================== */

.wspace-task-body .ext-el-mask			{ background:#000 }


/* ============================================================================================== */
/* =======  MY WORK  ============================================================================ */
/* ============================================================================================== */

.x-grid3								{ background:var(--wdt-default-bg)!important; color:var(--wdt-default-color)!important; }
.wspace-mywork .w4-tasklist-group-row .w4-tasklist-group-row-wrap { border-top:1px solid var(--wdt-default-color-30)!important; 
											border-bottom:1px solid var(--wdt-default-color-30)!important; }
.wspace-mywork .w4-tasklist-group-row-body { background:var(--theme-background-color)!important; color:var(--wdt-default-color)!important; }
.w4-tasklist .x-grid3-row				{ border-top-color:var(--wdt-default-color-15)!important; border-bottom-color:var(--wdt-default-color-15)!important; }
.w4-tasklist-task-name					{ color:var(--wdt-default-color)!important; }
.w4-tasklist-task-description			{ color:var(--wdt-default-color-60)!important; }

.wspace-mywork .w4-tasklist .x-grid3-row-selected { background:var(--wdt-focus)!important; }
.wspace-mywork .x-grid3-row-over		{ background:var(--wdt-focus-50)!important; }
.wspace-mywork .wspace-mywork-newtask .wspace-mywork-newtask-plus { background-color:var(--wdt-default-bg)!important; color:var(--wdt-focus)!important; }
.wspace-mywork .w4-tasklist-group-row .w4-tasklist-group-row-wrap { border-top:1px solid var(--wdt-default-color-15)!important; border-bottom:1px solid var(--wdt-default-color-15)!important; }
